:root {
    --couleur-primaire : #2a6442;
}

.photo {
    width: 50%;
}

#lol {
   color: red;
}

#lol2 {
    color: #FFC947;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}