@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
    --couleur-primaire : #5432a8;
}

.container {
    display: block;
    text-align: center;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
}

.photo {
    width: 50%;
}

#lol {
   color: red;
}

#lol2 {
    color: #FFC947;
}

img {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    font-size: 70%;
}

th {
    text-align: center;
}

tr,td {
  border: 1px solid green;
}